body {
    background-color: rgb(251,242,231);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
color: #FFFFFF;
background: #333333;
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #DB7093 0px 0px 20px, #DB7093 0px 0px 30px, #DB7093 0px 0px 40px, #DB7093 0px 0px 50px, #DB7093 0px 0px 75px;
color: #FFFFFF;
background: #333333;

}

footer {
	font-style: italic;
	font-size: 90%;
}
